@font-face {
    font-family: 'Codec Pro ExtraBold';
    src: url('../fonts/codec-pro/CodecPro-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Codec Pro';
    src: url('../fonts/codec-pro/CodecPro-Light.ttf');
}

.form-title{
    font-family: 'Codec Pro ExtraBold';
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
    color: var(--purple);
}

.form-container{
    font-family: 'Codec Pro';
    width: 100%;
    height: auto;
    margin-left: 40px;
}

.custom-select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Codec Pro';
}

.price{
    display: flex; 
    gap: 4%;
    width: 95%;
}

.smallinput{
    width: inherit;
}

#preview img { 
    max-height: 100px; 
    margin-top: 10px;
}

.remove{
  color:red;
  font-size:1.5em;
  margin-left: 10px;
}

.remove:hover {
    cursor: pointer;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.fas.fa-times {
    background-color: transparent;
}
