@font-face {
    font-family: 'Codec Pro ExtraBold';
    src: url('../fonts/codec-pro/CodecPro-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Codec Pro';
    src: url('../fonts/codec-pro/CodecPro-Light.ttf');
}

*{
    background-color: #101728;
}

:root{
    --purple: #9340FF;
}


.title{
    font-size:40px;
    color:white;
    font-family: 'Codec Pro ExtraBold';
}

.btn-grad {
    background-image: linear-gradient(to right, #5b3094 0%, #f00530 51%, #273d70 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 30px;
    display: table;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    font-family: 'Codec Pro ExtraBold';
    font-size: 17px;
    padding: 18px 57px;
    position: relative;    
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.flex1{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    /* border: 3px dashed #1cc9c0; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*.container1{
    border: 3px dashed #c91cc3;
}*/

.welcome{
    font-family: 'Codec Pro ExtraBold';
    font-size: 50px;

    background-image: url(../image/alud.gif);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.container2{
    /* border: 3px dashed #c3c91c; */
    height: auto;
}

h1 {
    color:var(--purple);
    font-family:'Codec Pro ExtraBold';
    font-size:50px;
    text-align: center;
}

h2{
    color:#FF4040;
    font-family:'Codec Pro ExtraBold';
    font-size:30px;
    text-align: center;
}

.textinput {
    width: 90%;
    margin-top: 5px; 
    border-color:#cccccc; 
    text-align:left; 
    border-style:hidden; 
    border-radius:0px; 
    border-width:0px; 
    color:#949393; 
    background-color:#0A2156; 
    padding:8px; font-size:22px; 
}

.textinput:focus { 
    outline:none; 
    color:white;
} 

.boxinput{
 margin-left: 5%;
}

.asignup{
    display:inline-block;
    color:rgb(53, 106, 230);
    font-family:'Codec Pro';
    font-size:18px;
    text-align: left;
}

p{ 
    display:inline-block;
    color:white;
    font-family:'Codec Pro';
    font-size:18px;
    text-align: left;
}

.spacer{
    margin-top: 5%;
    aspect-ratio: 500/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../image/wave6.svg);
}

footer {
    position: relative;
    height: 0;
    padding-top: 30%;
    background-color:  #060730;
}

.footer-inside {
    background-color:  #060730;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.flex3{
    background-color:  #060730;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10%;
}

.container3{
    z-index: 10;
    background-color: #060730;
}

.container4{
    z-index: 10;
    background-color: #060730;
}

.container4 h1{
    color:var(--purple);
    font-family:'Codec Pro ExtraBold';
    font-size:50px;
}

.container4 pre{
    color:white;
    font-family:'Codec Pro';
    font-size:25px;
}

input[id="username_sign_up"]:invalid:focus, input[id="email_sign_up"]:invalid:focus, input[id="id_password"]:invalid:focus, input[id="confirmmdp"]:invalid:focus {
    border: 2px solid rgb(255, 234, 0);
    transition: all .3s ease;
}

input[id="username_sign_up"]:invalid, input[id="email_sign_up"]:invalid, input[id="id_password"]:invalid, input[id="confirmmdp"]:invalid {
    border: 2px solid rgb(255, 0, 0);
    transition: all .3s ease;
}

input[id="username_sign_up"]:focus, input[id="email_sign_up"]:focus, input[id="id_password"]:focus, input[id="confirmmdp"]:focus {
    border: 2px solid #00d204;
    transition: all .3s ease;
}

@media only screen and (max-width: 600px) {
    .flex3{
        width: 100%;
    }
}