html {
    scroll-behavior: smooth;
}

header {
    z-index: 999;
}

a {
    text-decoration: none;
}

.main_announce_container {
    margin-top: 20px;
    width: 90%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;

}

.main_announce_container > .announce_container_left {
    border: 1px solid #5e1cc9;
    border-radius: 10px;
    /* border-color: blue;
    border-width: 10px; */
    float: left;
    width: 60%;
    height: 100%;
}

.main_announce_container > .announce_container_right {
    border: 1px solid #5e1cc9;
    border-radius: 10px;
    float: right;
    width: 35%;
    height: 100%;
}

.main_announce_container > .announce_container_left > .announce_images_container {
    margin-right: auto;
    margin-left: auto;
    /* transform: translateY(5%); */
    /* background-color: rgba(255, 54, 54, 0.425); */
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.main_announce_container > .announce_container_left > .announce_images_container > #arrow_left {
    display: block;
    transform: translateY(500%);
    float: left;
    width: 5vh;
    height: 5vh;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.425);
    cursor: pointer;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}

i {
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    background-color: transparent;
}

.main_announce_container > .announce_container_left > .announce_images_container > #arrow_right {
    display: block;
    transform: translateY(500%);
    float: right;
    width: 5vh;
    height: 5vh;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.425);
    cursor: pointer;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}

.main_announce_container > .announce_container_left > .announce_images_container > #arrow_left:hover, 
.main_announce_container > .announce_container_left > .announce_images_container > #arrow_right:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px black;
    font-size: 1.1em;
    transition: all 0.2s ease-in-out;
}

.main_announce_container > .announce_container_right > .announce_seller,
.main_announce_container > .announce_container_right > .announce_price,
.main_announce_container > .announce_container_right > .rent_article_button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid #5e1cc9;
    border-radius: 10px;
    width: 90%;
    height: 30%;
}

.info_product, .moreless_announce_description {
    color: aliceblue;
    text-align: justify;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Codec Pro';
}
.selle_info{
    color:white;
    font-family:'Codec Pro';
    font-size:25px;
    text-align: center;
}

.announce_goto_comment_description {
    border-radius: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 90%;
    display: flex;
    gap: 10px;
}

.announce_goto_comment_description > .goto_comment,
.announce_goto_comment_description > .goto_description {
    width: 50%;
    font-family: 'Codec Pro';
    border: 1px solid #5e1cc9;
    background-color: #5e1cc9;
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.announce_goto_comment_description > .goto_comment:hover,
.announce_goto_comment_description > .goto_description:hover {
    background-color: rgb(140, 0, 255);
    transition: all 0.2s ease-in-out;
}

.announce_goto_comment_description > .goto_comment {
    float: left;
}

.announce_goto_comment_description > .goto_description {
    float: right;
}

.announce_goto_comment_description > .goto_comment > .goto_text, 
.announce_goto_comment_description > .goto_description > .goto_text {
    background-color: transparent;
    font-size: 2em;
    color: aliceblue;
    text-align: center;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Codec Pro';
}

#announce_description {
    border: 1px solid #5e1cc9;
    border-radius: 10px;
    margin-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#announce_description > .text_description {
    --max-lines: 5;
    --line-height: 1.5;

    max-height: calc(var(--max-lines) * var(--line-height) * 1em);
    line-height: var(--line-height);

    overflow: hidden;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 10px;
}

#announce_description > .text_description:has(+ .moreless_announce_description:checked) {
    max-height: none;
}

#announce_description > .text_description:has(+ .moreless_announce_description:not(:checked))::before {
    content: "";
    position: absolute;
    height: calc(2em * var(--line-height));
    width: 100%;
    background: linear-gradient(to bottom, transparent, #101728);
    bottom: 0;
    pointer-events: none;
}

#announce_description > .moreless_announce_description {
    background-color: #5e1cc9;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: antiquewhite;
    appearance: none;
    padding: .5em;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: all 0.2s ease-in-out;
}

#announce_description > .moreless_announce_description:hover {
    background-color: rgb(140, 0, 255);
    transition: all 0.2s ease-in-out;
}

#announce_description > .moreless_announce_description::before {
    content: "See More";
}

#announce_description > .moreless_announce_description:checked::before {
    content: "See Less";
}

.announce_comment_container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 630px;
    /* background-color: rgba(255, 54, 54, 0.425); */
    border: 1px solid #5e1cc9;
    border-radius: 10px;
    color: white;
    font-family: 'Codec Pro';
    bottom: 0;
}

.announce_comment_container > #announce_comment_text {
    overflow-y: scroll;
    margin: 20px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #5e1cc9;
    background-color: #101728;
    color: aliceblue;
    font-family: 'Codec Pro';
    font-size: 1.5em;
    padding: 10px;
    resize: none;
}

#announce_comment_text::-webkit-scrollbar {
    display: none;
}

.announce_one_comment {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #0e3182;
    border-radius: 10px;
    padding: 10px;
    background-color: #0A2156;
}

.comment_reply_text, .reply_user_date, .comment_reply_date, .comment_reply_username, .comment_reply_text, .reply_text {
    background-color: #103283;
}

.date_username, .comment_date, .comment_username, .comment_text {
    background-color: #0A2156;
}

.comment_reply_text {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #1544b1;
}

.date_username, .reply_user_date {
    display: flex;
    gap: 10px;
}

.comment_date, .comment_reply_date {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;
    font-size: 0.7em;
    color: #707070;
}

.comment_username, .comment_reply_username {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.1em;
    color: #707070;
}

.comment_text, .reply_text {
    margin-top: 10px;
    font-size: 0.9em;
    line-height: 1.3em;
    color: aliceblue;
}

.report_announce_container {
    margin-top: 0px;
    border-radius: 10px;
    height: 50px;
}

.type_and_send_content, .type_and_send_content_reply, .type_and_send_content_report, .report_announce_container_bis {
    border-radius: 10px;
    height: 50px;
    margin: 20px;
    border: 1px solid #5e1cc9;
}

.type_and_send_content {
    display: flex;
}

.type_and_send_content_reply, .type_and_send_content_report, .report_announce_container {
    display: none;
}

.text_replacing_form_report {
    display: flex;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
}

.comment_type_text {
    border-style: hidden;
    width: 80%;
    border-radius: 10px 0px 0px 10px;
    background-color: #101728;
    color: aliceblue;
    font-family: 'Codec Pro';
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
}

.comment_type_reply, .comment_type_report, .announce_report_text {
    border-style: hidden;
    border-radius: 10px 0px 0px 10px;
    width: 80%;
    background-color: #101728;
    color: aliceblue;
    font-family: 'Codec Pro';
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
}

.comment_type_text:focus, .comment_type_reply:focus, .comment_type_report:focus, .announce_report_text:focus {
    background-color: #0A2156;
}

.comment_send_button {
    width: 20%;
    height: 50px;
    background-color: #5e1cc9;
    font-family: 'Codec Pro';
    color: aliceblue;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.3em;
    font-weight: bold;
    border-style: hidden;
    transition: all 0.2s ease-in-out;
}

.reply_button_right, .report_button, .announce_report_button {
    width: 20%;
    height: 50px;
    background-color: #5e1cc9;
    font-family: 'Codec Pro';
    color: aliceblue;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
    border-style: hidden;
    transition: all 0.2s ease-in-out;
}

.comment_send_button:hover, .reply_button_right:hover, .report_button:hover, .announce_report_button:hover {
    background-color: rgb(140, 0, 255);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.report_announce_container_bis {
    display: flex;
    width: 90%;
    margin-left: auto;  
    margin-right: auto;
}

.icons {
    display: none;
}

.fas.fa-reply {
    font-size: 1em;
    display: initial;
    background-color: transparent;
    border-style: none;
    color: white;
}

.fas.fa-flag {
    font-size: 1em;
    margin-right: 10px;
    display: initial;
    margin-left: 10px;
    background-color: transparent;
    border-style: none;
    color: white;
}

.fas.fa-reply:hover, .fas.fa-flag:hover {
    cursor: pointer;
} 

.fas.fa-flag:hover {
    color: rgb(210, 0, 0);
}

.fas.fa-reply:hover {
    color: #00ff00;
}

.comment_text:hover > .icons {
    display: block;
    float: right;
    background-color: #0A2156;
}

.reply_text:hover > .icons {
    display: block;
    float: right;
    background-color: #103283;
}

.blurred_content {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: rgb(147, 147, 147);
}