body {
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
    background-color: #101728;
    font-family: 'Codec Pro';
}

p::-webkit-scrollbar, li::-webkit-scrollbar {
    color: aliceblue;
    display: none;
}

h2 {
    color: antiquewhite;
    margin-bottom: 50px;
    padding: 10px;
    border: 2px solid antiquewhite;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.4);
}

body > #announce_report_main {
    display: inline-block;
}

body > #comment_report_main {
    display: inline-block;
}

body > #commentAndAnnounces {
    display: inline-block;
    width: 100%;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: antiquewhite;
    margin-top: 5px;
}

li {
    list-style-type: none;
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
    color: antiquewhite;
}

ul {
    padding-left: 0px;
    margin-top: 0px;
    height: 110px;
    margin-bottom: 0px;
}

p, ul {
    overflow-y: scroll;
    overflow-x: scroll;
}

.announce, .comment, .all, .back_to_lobby {
    padding: 20px;
    border: 2px solid #1544b1;
    background-color: #103283;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    color: antiquewhite;
    text-decoration: none;
}

.announce_content, .announce_seller, .announce_title {
    text-align: justify;
}

/* Partie annonce */

#announce_report_main, #comment_report_main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 2em;
}

.one_announce {
    margin-bottom: 50px;
    width: 100%;
    height: 400px;
    display: grid;
    gap: .5rem;
    border-radius: 10px;
    border: 2px solid #1544b1;
    background-color: #103283;
}

.content_reported_announce {
    width: 98%;
    height: 310px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 0.5rem;
    position: relative;
}

.announce_report_button {
    width: 98%;
    height: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.restore_button_announce {
    float: right;
    border-radius: 0px 10px 10px 0px;
}

.delete_button_announce {
    float: left;
    border-radius: 10px 0px 0px 10px;
}

.delete_button_announce, .restore_button_announce {
    width: 50%;
    height: 100%;
    display: block;
    border: 2px solid #1544b1;
    background-color: #11234e;
    color: antiquewhite;
    font-size: 1.4em;
}

.delete_button_comment, .restore_button_comment {
    width: 100%;
    margin-left: auto;
    display: grid;
    padding: 37px;
    margin-right: auto;
}

.left_side {
    height: 100%;
    width: 30%;
    float: left;
    border: 2px solid #1544b1;
    background-color: #11234e;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.right_side {
    width: 70%;
    float: right;
    height: 100%;
    display: grid;
    gap: 0.5rem
}

.top {
    width: 100%;
    height: 60px;
    display: flex;
    gap: .5rem;
}

.bottom {
    width: 100%;
    display: grid;
    gap: .5rem;
}

.announce_title {
    width: 80%;
    height: 100%;
}

.announce_seller {
    width: 20%;
    height: 100%;
}

.announce_content {
    width: 100%;
    height: 100px;
}

.reasons_report_bis {
    width: 100%;
    height: 130px;
}

/* Partie Commentaire */

.one_comment {
    width: 100%;
    height: 360px;
    display: grid;
    gap: .5rem;
    border-radius: 10px;
    border: 2px solid #1544b1;
    background-color: #103283;
    margin-bottom: 50px;
}

.reported_comment {
    width: 98%;
    height: 260px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 0.5rem;
}

.user_comment {
    width: 30%;
    height: 100%;
    float: left;
}

.user {
    font-size: 1.3em;
    font-weight: bolder;
}

.top_comment {
    width: 70%;
    height: 100%;
    float: right;
    display: grid;
    gap: .5rem;
}

.comment_sent {
    width: 100%;
    height: 110px;
    text-align: justify;
}

.reasons_report {
    width: 100%;
    height: 138px;
}

.reason_announce {
    text-align: justify;
}

.comment_report_button {
    width: 98%;
    display: flex;
    height: 50px;
    margin-left: auto;  
    margin-right: auto;
}



/* Partie commune */

.delete_button_announce:hover, .delete_button_comment:hover, .restore_button_announce:hover, .restore_button_comment:hover, .announce:hover, .comment:hover, .all:hover, .back_to_lobby:hover {
    background-color: #1544b1;
    color: black;
    cursor: pointer;
}

.announce_title, .announce_seller, .announce_content, .reasons_report_bis, .user_comment, .comment_sent, .reasons_report {
    border: 2px solid #1544b1;
    background-color: #11234e;
    border-radius: 10px;
    font-size: 1.1em;
    display: grid;
}

.top_section {
    width: 100%;
    height: 20px;
    margin-top: 0px;
    margin-bottom: auto;
    background-color: #1544b1;
}

.title_section {
    color: antiquewhite;
    padding-left: 20px;
    text-align: left;
}
