@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


@font-face {
    font-family: 'Codec Pro ExtraBold';
    src: url('../fonts/codec-pro/CodecPro-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Codec Pro';
    src: url('../fonts/codec-pro/CodecPro-Light.ttf');
}

:root{
    /* main */
    --blue-bg: #101728;
    --white : #ffffff;
    --purple : #9340FF;
    --footer-bg: #060730;
    --header-trans: rgba(16, 23, 40, .9);
    --wave : url(../image/wave6.svg);

    /* annonce */
    --cadre-annonce :rgb(48 17 60);
    --shadow-cadre : 0px 0px 10px 5px rgb(140 0 200 / 40%);

    /* annonce main */
    --comment-background : #101728;
    --comment-reply-background : #103283;

    /* annonce builder */
    --input-color : #0A2156;
}


.light-mode{
    /* main */
    --blue-bg: #fafafa;
    --white : #000000;
    --purple : #154792;
    --footer-bg: #d2d3db;
    --header-trans: rgba(250, 250, 250, 0.9);
    --wave : url(../image/light_wave.svg);

    /* annonce */
    --cadre-annonce : #484b6a;
    --shadow-cadre : 0px 0px 10px 5px rgba(184, 223, 235, 0.4);

    /* annonce main */
    --comment-background : #e4e5f1;

    /* annonce builder */
    --input-color :  #e4e5f1;
   
}
  
.dark-mode{
    --blue-bg: #101728;
    /* the root values are used here */
}

*{
    background-color: var(--blue-bg);
}

body{
    margin: 0;
}

.main{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.head-title{
    background-color: transparent; 
    text-decoration:none; 
    color: var(--white);
}

.title{
    font-size:40px;
    color:var(--white);
    font-family: 'Codec Pro ExtraBold';
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
}

.logo {
    border-radius: 1px; 
    width: 50px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
}

#website-logo {
    float: left;
    background-color: #ffffff00;
}

.right-header {
    display: flex;
    width: auto;
    align-items: flex-start;
    margin-left: auto;
    gap: 20px;
    flex-direction: row-reverse;
    background-color: transparent;
}

.btn-grad {
    float: right;
    background-image: linear-gradient(to right, #5b3094 0%, #f00530  51%, #273d70  100%);
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 30px;
    display: inline-block;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    font-family:'Codec Pro ExtraBold';
    font-size:17px;
    padding:16px 31px;
    position:relative;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: transparent;
    height: auto;
    width: auto;
    padding: 0px;
    gap: 10px;
    margin-top: 45px;
    list-style: none;
}

.dropdown > li {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.btn-grad.profile-btn, .btn-grad.disconnect-btn {
    background-image: none;
    padding: 15px;
    background-color: #5b3094;
    border: 2px solid #9340FF;
}

.btn-grad.profile-btn:hover, .btn-grad.disconnect-btn:hover {
    background-color: #9340FF;
}

.btn-grad.profile-container {
    position: relative;
    display: grid;
    justify-items: center;
}

.btn-grad.profile-container:hover > .dropdown {
    display: flex;
    flex-direction: column;
}
.btn-login{
    float: right;
    margin-left: 10px;
    color: #fff;
    font-family:'Codec Pro ExtraBold';
    font-size:17px;
    display: inline-block;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    
    background: none;
    text-decoration: inherit;
    /* font-family: system-ui; */
    /* padding: 1rem 2rem; */
    padding: 14px 31px;

    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-radius: 30px;
    border-color: #5b3094;
    background-color: #5b30944d;

    /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

.flex1{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    /* border: 3px dashed #1cc9c0; */
    column-gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
        

.rentingtext {
    font-family: 'Codec Pro ExtraBold';
    font-size: 50px;
    /* border: 3px dashed #1c87c9; */
    vertical-align: middle;
    width: 300px;

    background-image: url(../image/gradiant.gif);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


.imgphone{
    border-radius: 50px;
    width: 454px;
    height: 366px;
    flex-shrink: 0;
}

.container1{
    margin-top: 12%;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    /* border: 3px dashed #1cc9c0; */
}


.renttext{
    color:var(--purple);
    font-family:'Codec Pro ExtraBold';
    font-size:50px;
    text-align: center;
}


.smallrenttext {
    color:var(--white);
    font-family:'Codec Pro';
    font-size:25px;
    text-align: center;
}

.flex2{
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    /* border: 3px dashed #1cc9c0; */
    column-gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container2{
    width: 50%;
}


.ecotext{
    color:var(--purple);
    font-family:'Codec Pro ExtraBold';
    font-size: 50px;
    text-align: center;
}

.smallecotext{
    color:var(--white);
    font-family:'Codec Pro';
    font-size: 25px;
    text-align: center;
}

.imghand{
    border-radius: 50px; 
    width: 500px;
    flex-shrink: 0;
}

.spacer{
    margin-top: 12%;
    aspect-ratio: 500/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: var(--wave);
}

footer {
    position: relative;
    height: 0;
    padding-top: 300px;
    background-color: var(--footer-bg);
}

.footer-inside {
    background-color:  transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.flex3{
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10%;
}

.footer_logo{
   border-radius:1px; 
   width:50px; 
   background-color: transparent;
}

.github-logo {
    text-decoration: none; 
    background-color: transparent;
    margin: 15px;
}
.github-logo i {
    background-color: transparent;
}

.container3{
    z-index: 10;
    background-color: transparent;
}

.container4{
    z-index: 10;
    background-color: transparent;
}

.container4 h1{
    color:var(--purple);
    font-family:'Codec Pro ExtraBold';
    font-size:50px;
    background-color: transparent;
}

.container4 pre{
    color:var(--white);
    font-family:'Codec Pro';
    font-size:25px;
    background-color: transparent;
}


.container a {
    background-color: transparent;
}

.container4 i {
    font-weight: 400;
    font-size: 2em;
}


.textinput {
    width: 90%;
    margin-top: 5px; 
    border-color:#cccccc; 
    text-align:left; 
    border-style:hidden; 
    border-radius:10px; 
    border-width:0px; 
    color:#949393; 
    background-color: var(--input-color); 
    padding:8px; font-size:22px; 
    transition: all .5s ease-in-out;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: 999;
}

#hamburger-input{
    display: none;
  }
  
#hamburger-menu {
    position: fixed;
    top: 30px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
    to bottom, 
    var(--purple), var(--purple) 20%, 
    transparent 20%, transparent 40%, 
    var(--purple) 40%, var(--purple) 60%, 
    transparent 60%, transparent 80%, 
    var(--purple) 80%, var(--purple) 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -500px;
    width: 100%;
    height: 100%;
    background-color: var(--blue-bg);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: var(--purple);
    font-size: 2.2rem;
    margin-bottom: 20px;
}

#hamburger-menu ul {
    padding-left: 0px;
    margin-top: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a{
    color: var(--purple);
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover, .input-disconnect:hover {
    text-decoration: underline;
    cursor: pointer;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 1;
}

#sidebar-menu h3, #sidebar-menu li {
    text-align: center;
}

.input-disconnect {
    background-color: transparent;
    border-style: none;
    color: var(--purple);
    font-size: 1.3rem;
    text-decoration: none;
    padding: 0px;
}










@media only screen and (max-width: 768px) {

    .main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    #header {
        display: flex;
        z-index: 100;
        background-color: var(--header-trans);
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(7px);
        flex-direction: column;
    }

    #website-logo {
        margin-left: auto;
        margin-right: auto;
        gap: 10px;
    }

    .right-header{
        display: none;
    }

    .logo{
        flex: 1;
    }

    .title {
        flex: 1;
    }

    .btn-grad {
        margin-top: 5%;
        display: inline-block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        font-size: 15px;
    }

    .btn-login{
        margin-top: 5%;
        /* display: inline-block; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        font-size: 15px;
    }

    .btn-offers{
        margin-top: 5%;
        /* display: inline-block;
        margin-left: auto;
        margin-right: auto; */
        font-size: 15px;
    }

    .flex1{
        margin-top: 0%;
    }

    .imgphone{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
    }

    .container1, .flex1, .flex2 {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }

    .container2{
        margin-right: 0%;
        margin-left: 0%;
        width: 100%;
    }
    
    .ecotext{
        text-align: center;
    }

    .smallecotext{
        text-align: center;
    }

    .imghand{
        width: 100%;
        flex-shrink: 0;
    }

    .flex3{
        width: 100%;
    }

    .container4 pre{
        font-size:initial;
    }

    .container4 h1{
        color: var(--purple);
        font-family: 'Codec Pro ExtraBold';
        font-size: 40px;
        background-color: transparent;
        text-align: center;
    }

    .github-logo{
        display: flex;
        justify-content: center;
    }

    #main-menu {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }

}

#header {
    display: flex;
    flex-wrap: nowrap;
    z-index: 100;
    background-color: var(--header-trans);
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}




















/* body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: 'Cabin', Sans-serif;
} */

/* #main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #3D0E61;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #B9FAF8;
  font-size: 1.5rem;
  text-decoration: none;
} 

#main-menu a:hover {
  text-decoration: underline;
} */




@media screen and (max-width: 768px) {

}