<div id="cookie-banner">
    This website uses cookies to improve your experience. By continuing to browse the site, you are agreeing to our use of cookies.
    <button id="accept-cookies">Accept</button>
</div>

<script src="../js/cookies.js"></script>