<div class="spacer"></div>

<footer>
    <div class="footer-inside">
      <div class="flex3">

        <div class="container3">
          <img src="../image/logo.svg" class="footer_logo" alt="Gradient Shape Logo Element" loading="lazy">
          <span class="title" style="background-color: transparent;"> &nbsp; LocaWeb </span>
        </div>

        <div class="container4">
          <h1 style="background-color: transparent;">Who made this?</h1>
          <pre style="background-color: transparent;">We are 3 computer science 
studens at Louvain La Neuve.
This website was made for a school project.
          </pre>
<a href="https://github.com/GaecKo/LINFO1212-2022-PF08" target="_blank">
  <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub logo" width="32" height="32" />
</a>

        </div>


      </div>
    </div>
</footer>