<div class="spacer"></div>

<footer>
    <div class="footer-inside">
      <div class="flex3">

        <div class="container3">
          <img src="../image/logo.svg" style="border-radius:1px; width:50px; background-color: transparent; "  alt="Gradient Shape Logo Element" loading="lazy">
          <span class="title" style="background-color: transparent;"> &nbsp; LocaWeb </span>
        </div>

        <div class="container4">
          <h1 style="background-color: transparent;">Contact</h1>
          <pre style="background-color: transparent;">01 23 45 68 89
Adress sympa
bonjour@gmail.com</pre>
        </div>


      </div>
    </div>
</footer>