<header id="header">
    <div id="website-logo">
      <img class="logo" src="../image/logo.svg"  alt="Gradient Shape Logo Element" loading="lazy">
      <span class="title" style="background-color: transparent;" ><a href=".." class="head-title">&nbsp; LocaWeb </a> </span>  
    </div>
      
   <div class="right-header">
      <a id="login" href="/login" class="btn-login">Login</a>
      <a id="sign_up" href="/signup" class="btn-grad">Sign-Up</a>

    <% if (username !== undefined) { %>
      <div class="btn-grad profile-container"><%= username %>
        <ul class="dropdown">
          <li>
            <a id="username" class="btn-grad profile-btn" href="/profile" style="margin-top: 10px;"> Profile </a>
          </li>
          <li>
            <form action="/logout" method="GET">
              <input id="username" class="btn-grad disconnect-btn" type="submit" value="Disconnect"></a>
            </form>
          </li>
        </ul>
      
      </div>
      
      <a id="username" class="btn-offers btn-grad" href="/announces"> View offers </a>
   </div>
    <script>
        document.getElementById('sign_up').style.display='none';
        document.getElementById('login').style.display='none';
    </script>
  <% } %>
</header>

<script src="../js/stickyheader.js"></script>