<header id="header">
    <div id="website-logo">
      <img class="logo" src="../image/logo.svg"  alt="Gradient Shape Logo Element" loading="lazy">
      <span class="title" style="background-color: transparent;" ><a href=".." class="head-title">&nbsp; LocaWeb </a> </span>  
    </div>
      
    <nav class="right-header">
      <a id="login" href="/login" class="btn-login">Login</a>
      <a id="sign_up" href="/signup" class="btn-grad">Sign-Up</a>

      <% if (username !== undefined) { %>
      <div class="btn-grad profile-container"><%= username %>
        <ul class="dropdown">
          <li>
            <a id="username" class="btn-grad profile-btn" href="/profile" style="margin-top: 10px;"> Profile </a>
          </li>
          <li>
            <form action="/logout" method="GET">
              <input id="username" class="btn-grad disconnect-btn" type="submit" value="Disconnect"></a>
            </form>
          </li>
        </ul>
      </div>
      
      <a id="username" class="btn-offers btn-grad" href="/announces"> View offers </a>
      <script>
        document.getElementById('sign_up').style.display='none';
        document.getElementById('login').style.display='none';
      </script>
      <% } %>
    </nav>

    <input type="checkbox" id="hamburger-input" class="burger-shower" />

    <label id="hamburger-menu" for="hamburger-input">
      <nav id="sidebar-menu">
        <h3>Menu</h3> 
        <ul>
          <li><a id="sign_up_ham" href="/signup">Sign-Up <i class="fa-solid fa-user-plus"></i></a></li>
          <li><a id="login_ham" href="/login">Login <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <% if (username !== undefined) { %>
          <li><a href="/announces"> View offers <i class="fa-solid fa-cart-shopping"></i> </a></li> 
          <li>
            <a href="/profile" > Profile: <%= username %>  &nbsp; <i style="color:var(--purple);" class="fa-solid fa-user fa-lg"></i></a> 
          </li>
          <li>
            <form action="/logout" method="GET">
              <input type="submit" value="Disconnect" class="input-disconnect"> &nbsp;&nbsp; <i style="color:var(--purple);"class="fa-solid fa-right-from-bracket fa-lg"></i>
            </form>
          </li>
        </ul>
      </nav>
      <script>
        document.getElementById('sign_up_ham').style.display='none';
        document.getElementById('login_ham').style.display='none';
      </script>
        <% } %>
    </label>

    <div class="overlay"></div>
</header>



<script src="../js/stickyheader.js"></script>