<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/style.css">
      <title>LocaWeb</title>
      <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
      <script src="../js/changebg.js"></script>
  </head>

  <body class="<%= (typeof customs !== 'undefined' && typeof customs.light_mode !== 'undefined') ? (customs.light_mode ? 'light-mode' : 'dark-mode') : 'dark-mode' %>">
  
    <div  class="main"> 

      <%- include('template/header.ejs') %>
      
      <div class="flex1">
        <h1 class="rentingtext"> Renting has never been so easy !</h1>
        <img class="imgphone"src="../image/phone.webp"> </img>
      </div>

      <div class="container1">
        <h1 class="renttext"> With LocaWeb you can rent or lease a whole range of products.</h1>
        <p class="smallrenttext">Our site will allow you to advertise a bike / a parking space / a book and much more. Conversely, this site will allow you to get in touch with people who rent their goods.</p>
      </div>

      <div class="flex2">

        <div class="container2">
          <h1 class="ecotext">The eco-friendly solution</h1>
          <p class="smallecotext">All goods these days are single use. Let's stop this endless loop and use the goods that people no longer use for less than the purchase price of the new good. </p>
        </div>
        
      <img class="imghand"src="../image/hands.webp"> </img>
      </div>
    </div>

    <%- include('template/footer.ejs') %>
    
    <%- include('template/customs.ejs') %>
    
  </body>
</html>

