<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/annonce-builder.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Annonce builder</title>
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
</head>
<body>

    <div class="main">

        <%- include('template/header.ejs') %>

        <div class="form-title">
            <h1>Créer une annonce</h1>
        </div>

        <% if (error != undefined) { %>
            <div class="error-container">
                <a class="error"> <%= error %></a>
            </div>
            <style>
                .error{
                    color:green;
                    font-size: 25px;
                }
                .flex1 {
                    margin-top: 0px;    
                }
                .error-container {
                    margin-bottom: 20px;
                }
            </style>
        <% } %>

        <div class="form-container">

            <form method="POST" enctype="multipart/form-data" action="/announces_builder">
                <!-- Title -->
                <input class="textinput" type="text" id="title" name="title" placeholder="Title of your offer">
                <br>
                <hr style="width: 80%; border: 3px dashed transparent;">
                <!-- Description -->
                <textarea class = "textinput" id="description" name="description" placeholder="Description of the offer" maxlength="500" style="height:200px;resize: none;"></textarea>
                <br>
                <hr style="width: 80%; border: 3px dashed transparent;">
                
                <!-- Price -->
                <div class="price">
                    <!-- City -->
                    <input  class="textinput smallinput"type="text" id="city" name="city" placeholder="City">
                    <input  class="textinput smallinput" type="number" id="price" name="price" placeholder="Price" min="1">

                    <select class="textinput" style="width:200px;" name="rate" required>
                        <option value="0" disabled>Select rate:</option>
                        <option value="€/min">€/min</option>
                        <option value="€/halfhour">€/halfhour</option>
                        <option value="€/h">€/h</option>
                        <option value="€/day">€/day</option>
                        <option value="€/week">€/week</option>
                    </select>
                    <br>
                </div>
                <hr style="width: 80%; border: 3px dashed transparent;">
                <!-- Image -->
                <input id="files" type="file" accept="image/png" name="images" class="textinput smallinput"  multiple>  
                <a class="remove" title="Remove the last image added" onclick="removeLastPicture()"> <i class="fas fa-times"></i> </a>
                <div id="preview"></div>
                <br>
                <hr style="width: 80%; border: 3px dashed transparent;">
                <!-- submit btn -->
                <button class = "btn-grad" type="submit" style="border: 0;display: block;margin: 0 auto; float: inherit;">Créer l'annonce</button> 
                <br>
            </form>

        </div>
    </div>

    <script>
        // Preview image
        const preview = (file) => {
            const fr = new FileReader();
            fr.onload = () => {
                const img = document.createElement("img");
                img.src = fr.result;  // String Base64 
                img.alt = file.name;
                document.querySelector('#preview').append(img);
            };
            fr.readAsDataURL(file);
        };

        document.querySelector("#files").addEventListener("change", (ev) => {
            if (!ev.target.files) return; // Do nothing.
            [...ev.target.files].forEach(preview);
        });

        //remove all the pictures at once and reset the name of the file
        function removeLastPicture(){ 
            var preview = document.getElementById('preview');
            while (preview.firstChild) preview.removeChild(preview.firstChild);
            document.getElementById('files').value = "";
        }
    </script>

    <%- include('template/footer.ejs') %>
    
    <%- include('template/customs.ejs') %>

    </body>
</html>