<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/d3562eec23.js" crossorigin="anonymous"></script>
    <title>Sign-up</title>
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
</head>
<body onload="randomtext()">

    <div style="margin-top: 50px; margin-left: 9.4%;">
        <img src="../image/logo.svg" style="border-radius:1px; width:50px;"  alt="Gradient Shape Logo Element" loading="lazy">
        <span class="title"><a href=".." style="text-decoration:none; color: white;">&nbsp; LocaWeb </a> </span> 
    </div>

    <div class="flex1">
        <div class="container1">

            <h2 style="color:#ffffff;">New here?</h2>
            <h1 id="hellotext"class="welcome">Create an account !</h1>
            <hr style="width: 80%; border: 3px dashed rgb(254, 254, 254);">

            <script>
                function randomtext(){
                    const texts = ['Create an account !']
                    const rando = ()  => texts[Math.floor(Math.random() * texts.length)];
                    document.getElementById("hellotext").innerHTML = rando();
                }
            </script>

        </div>

        <div class="container2">

            <form action="/signup" method="POST">

            <h1>New account</h1>
            <input class="textinput" type="text" placeholder="Username" name="username" id="username_sign_up" minlength="3" required>
            <hr style="width: 80%; border: 3px dashed transparent;">
                                                                                                   <!-- @dru mettre en évidentce le * -->
            <input class="textinput" type="email" placeholder="Email" name="email" id="email_sign_up" pattern=".+@.+\..+" required> *
            <hr style="width: 80%; border: 3px dashed transparent;"> 
                                                                                                                                                <!-- @dru mettre en évidentce le * -->
            <input class="textinput" type="phone" placeholder="Phone: +32 400 40 40 40" pattern="+[0-9]{2} [0-9]{3} [0-9]{2} [0-9]{2} [0-9]{2}" name="phone" id="phone_sign_up"> *
            
            <hr style="width: 80%; border: 3px dashed transparent;">

            <input class="textinput" type="password" placeholder="Password (at least 8 characters)" name="password" id="id_password" minlength="8" required>
            <i class="far fa-eye" id="togglePassword" style="margin-left: -40px; cursor: pointer; font-size: 25px; background-color: transparent; color: rgb(61, 61, 207);"></i>

            <hr style="width: 80%; border: 3px dashed transparent;">
            <input class="textinput" type="password" placeholder="Comfirm Password" name="comfpassword" id="confirmmdp" minlength="8" required>
                                                
            <input class="boxinput" type="checkbox" name="sharing" checked>  
            <p>Share email/phone on your ads *</p> <!-- @dru mettre en évidentce le * -->
                <br>
            <input class="boxinput" type="checkbox" name="keeplog" id="cookies">
            <p>Stay signed in</p>
                <br>

            <p>Already have an account?</p>
            &nbsp;
            <a class="asignup" href="/login" >Login-in here</a>
            <br>
            <br>
            <button type="submit" class="btn-grad" style="margin: auto; border:0;">Create account</button> 
            <p style="color: red;">*These will be shown if you allow sharing contact informations</p>

            </form>


        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');
    
        togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });


    document.querySelector('.btn-grad').onclick = function(){
        const password = document.querySelector('#id_password').value,
            confirmPassword = document.querySelector('#confirmmdp').value;

        if(password == "") {
            alert("Please insert a password!");
            return false
        }
        else if(password.length < 8) {
            alert("The password has less than 8 chracters!");
            return false
        }
        else if(password != confirmPassword) {
            alert("Passwords don't match!");
            return false
        }
        return true
    }
    </script>

<%- include('template/footer.ejs') %>

</body>

</html>