<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Sign-up</title>
</head>
<body onload="randomtext()">

    <div style="margin-top: 50px; margin-left: 9.4%;">
        <img src="../image/logo.svg" style="border-radius:1px; width:50px;"  alt="Gradient Shape Logo Element" loading="lazy">
        <span class="title"><a href=".." style="text-decoration:none; color: white;">&nbsp; LocaWeb </a> </span> 
    </div>

    <div class="flex1">
        <div class="container1">

            <h2 style="color:#ffffff;">New here?</h2>
            <h1 id="hellotext"class="welcome">Create an account !</h1>
            <hr style="width: 80%; border: 3px dashed rgb(254, 254, 254);">

            <script>
                function randomtext(){
                    const texts = ['Create an account !']
                    const rando = ()  => texts[Math.floor(Math.random() * texts.length)];
                    document.getElementById("hellotext").innerHTML = rando();
                }
            </script>

        </div>

        <div class="container2">

            <form action="/signup" method="POST">

            <h1>New account</h1>
            <input class="textinput" type="text" placeholder="Username" name="username" id="username_sign_up" minlength="3" required>
            <hr style="width: 80%; border: 3px dashed transparent;">

            <input class="textinput" type="email" placeholder="Email" name="email" id="email_sign_up" pattern=".+@.+\..+" required>
            <hr style="width: 80%; border: 3px dashed transparent;">

            <input class="textinput" type="password" placeholder="Password (at least 8 characters)" name="password" id="id_password" minlength="8" required>
            <i class="far fa-eye" id="togglePassword" style="margin-left: -40px; cursor: pointer; font-size: 25px; background-color: transparent; color: rgb(61, 61, 207);"></i>

            <hr style="width: 80%; border: 3px dashed transparent;">
            <input class="textinput" type="password" placeholder="Comfirm Password" name="comfpassword" id="confirmmdp" minlength="8" required>

            <input class="boxinput" type="checkbox" name="keeplog" id="cookies">
            <p>Stay signed in</p>
                <br>

            <p>Already have an account?</p>
            <a class="asignup" href="/login" >Login-in here</a>
            <br>
            <br>
            <button type="submit" class="btn-grad" style="margin: auto;">Create account</button> 

            </form>


        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');
    
        togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });


    document.querySelector('.btn-grad').onclick = function(){
        const password = document.querySelector('#id_password').value,
            confirmPassword = document.querySelector('#confirmmdp').value;

        if(password == "") {
            alert("Please insert a password!");
            return false
        }
        else if(password.length < 8) {
            alert("The password has less than 8 chracters!");
            return false
        }
        else if(password != confirmPassword) {
            alert("Passwords don't match!");
            return false
        }
        return true
    }
    </script>

<div class="spacer"></div>

<footer>
    <div class="footer-inside">
      <div class="flex3">
  
        <div class="container3">
        <img src="../image/logo.svg" style="border-radius:1px; width:50px; background-color: transparent; "  alt="Gradient Shape Logo Element" loading="lazy">
        <span class="title" style="background-color: transparent;"> &nbsp; LocaWeb </span>
        </div>
  
        <div class="container4">
          <h1 style="background-color: transparent;">Contact</h1>
          <pre style="background-color: transparent;">01 23 45 68 89
Adress sympa
bonjour@gmail.com</pre>
        </div>
  
  
      </div>
    </div>
  </footer>



</body>

</html>